* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  font-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 118.75%;
}

.title {
  font-weight: 600;
  color: #4D4D4D;
}

.subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #717171;
}

.header {
  position: relative;
  height: 84px;
  padding: 0 40px;
  background: #FFF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header__logo img {
  width: 154px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav a {
  color: #4D4D4D;
  font-size: 16px;
  line-height: 150%;
}

.header__nav a:hover,
.header__nav a:focus-visible {
  text-decoration: underline;
}

.header__nav-link_active {
  font-weight: 500;
}

.header__auth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 14px;
}

.header__auth-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  border: 2px solid transparent;
  background: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #4CAF4F;
  text-align: center;
  -webkit-font-feature-settings: "salt" on, "clig" off, "liga" off;
          font-feature-settings: "salt" on, "clig" off, "liga" off;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.857%;
  white-space: nowrap;
}

.header__auth-btn:hover {
  background: #F5F7FA;
}

.header__auth-btn:active {
  background: #E8F5E9;
}

.header__auth-btn:focus-visible {
  border: 2px solid #4D4D4D;
}

.header__auth-btn_bg {
  background: #4CAF4F;
  color: #FFF;
}

.header__auth-btn_bg:hover {
  background: #4CAF4F;
}

.header__auth-btn_bg:active {
  background: #388E3B;
}

.header__burger {
  display: none;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 32px;
  background: #4CAF4F;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: #FFF;
  white-space: nowrap;
  text-align: center;
}

.btn:active {
  background: #388E3B;
}

.container {
  max-width: 1232px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.hero {
  background: #F5F7FA;
  padding: 96px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.hero__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 61%;
}

.hero__title span {
  color: #4CAF4F;
}

.hero__subtitle {
  margin: 16px 0 32px 0;
}

.hero__image {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: 391px;
  width: 100%;
}

.hero__image img {
  width: 100%;
}

@media (max-width: 1199.5px) {
  h1 {
    font-size: 56px;
  }

  .header__nav ul {
    gap: 0 35px;
  }

  .hero {
    padding: 80px 0;
  }
}

@media (max-width: 991.5px) {
  h1 {
    font-size: 45px;
  }

  .header {
    height: 70px;
    padding: 0 20px;
  }

  .header__logo img {
    width: 120px;
  }

  .header__nav ul {
    gap: 0 20px;
  }

  .header__auth-btn {
    padding: 8px 18px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero {
    padding: 64px 0;
  }
}

@media (max-width: 767.5px) {
  h1 {
    font-size: 38px;
  }

  .header {
    height: 60px;
    padding: 0;
  }

  .header__container {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding-left: 20px;
  }

  .header__nav {
    display: none;
    padding: 20px;
    background: #FFF;
  }

  .header__nav ul {
    gap: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__nav li {
    width: 50%;
  }

  .header__nav a {
    display: inline-block;
    width: 100%;
    padding: 5px;
  }

  .header__auth {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 20px 0;
    background: #FFF;
  }

  .header__auth-btn {
    background: #E8F5E9;
  }

  .header__auth-btn_bg {
    background: #4CAF4F;
  }

  .header__burger {
    position: absolute;
    top: 12.5px;
    right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
    height: 35px;
    padding: 5px;
    background: transparent;
  }

  .header__burger span {
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: #4CAF4F;
  }

  .header_burger-open .header__nav {
    display: block;
  }

  .header_burger-open .header__auth {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .btn {
    padding: 12px 26px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero {
    padding: 48px 0;
  }
}

@media (max-width: 575.5px) {
  h1 {
    font-size: 32px;
  }

  .header {
    height: 50px;
  }

  .header__logo {
    height: 50px;
    padding-left: 15px;
  }

  .header__nav {
    padding: 20px 15px;
  }

  .header__burger {
    top: 7.5px;
    right: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero {
    padding: 60px 0 50px 0;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }

  .hero__content {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 100%;
    text-align: center;
  }

  .hero__image {
    max-width: 230px;
  }
}