@use "abstracts/colors";
@use "abstracts/transitions";
@use "abstracts/breakpoints" as *;
@use "abstracts/mixins" as *;



.btn,
.btn-tertiary {
    @include flex (inline-flex, center, center);

    border-radius: 4px;

    transition: transitions.$btn;

    white-space: nowrap;
    text-align: center;

    &_arrow {
        
        &:after {
            content: "";
    
            display: inline-block;
    
            margin-left: 8px;
            
            width: 24px;
            height: 24px;
    
            mask-image: url("../img/btn-arrow.svg");
    
            transition: inherit;
        }

        &:hover {
            
            &:after {
                transform: translateX(2px);
            }
        }
    
        &:active {
    
            &:after {
                transform: translateX(4px);
            }
        }
    }
}

.btn {
    padding: 14px 32px;

    background: colors.$brand-primary;

    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    color: colors.$default-white;

    &:active {
        background: colors.$shade-1;
    }

    @media (max-width: $md) {
        padding: 12px 26px;
    }


    &_arrow {

        &:after {
            background: colors.$default-white;
        }
    }
}

.btn-tertiary {
    padding: 8px;

    background: transparent;

    color: colors.$brand-primary;
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;

    @media (max-width: $lg) {
        font-size: 19px;
    }
    @media (max-width: $sm) {
        font-size: 18px;
    }

    &:hover {
        background: colors.$tint-1;
    }

    &:active {
        background: colors.$tint-2;
    }


    &_arrow {

        &:after {
            background: colors.$brand-primary;
        }
    }
}
