<section class="achievements m-tb-48 p-tb-64">
    <div class="achievements__container container">

        <div class="achievements__heading">

            <h2 class="title">Helping a local <span>business reinvent itself</span></h2>

            <p class="subtitle">We reached here with our hard work and dedication</p>

        </div>

        <div class="achievements__items">

            @@include('./_achievements__item.html', {
                "img": {
                    "src": "img/svgsprite/achievements.svg#members",
                    "alt": "Members"
                },
                "title": "2,245,341",
                "subtitle": "Members",
            })

            @@include('./_achievements__item.html', {
                "img": {
                    "src": "img/svgsprite/achievements.svg#clubs",
                    "alt": "Clubs"
                },
                "title": "46,328",
                "subtitle": "Clubs",
            })

            @@include('./_achievements__item.html', {
                "img": {
                    "src": "img/svgsprite/achievements.svg#event-bookings",
                    "alt": "Event Bookings"
                },
                "title": "828,867",
                "subtitle": "Event Bookings",
            })

            @@include('./_achievements__item.html', {
                "img": {
                    "src": "img/svgsprite/achievements.svg#payments",
                    "alt": "Payments"
                },
                "title": "1,926,436",
                "subtitle": "Payments",
            })

        </div>

    </div>
</section>