<footer class="footer p-tb-64">
    <div class="footer__container container">

        <div class="footer__info">

            <img class="footer__info-logo" src="img/logo-white.svg" alt="Logo">

            <p class="footer__info-text">Copyright © 2020 Nexcent ltd.</p>

            <p class="footer__info-text">All rights reserved</p>

            <div class="footer__info-socials">
                
                <a href="#" class="footer__info-social">
                    <img src="img/icons/icons.svg#instagram" alt="Instagram">
                </a>
                
                <a href="#" class="footer__info-social">
                    <img src="img/icons/icons.svg#dribbble" alt="Dribbble">
                </a>
                
                <a href="#" class="footer__info-social">
                    <img src="img/icons/icons.svg#twitter" alt="Twitter">
                </a>
                
                <a href="#" class="footer__info-social">
                    <img src="img/icons/icons.svg#youtube" alt="YouTube">
                </a>
            
            </div>

        </div>


        <article class="footer__links">

            <h4 class="footer__title">Company</h4>

            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Testimonials</a></li>
            </ul>

        </article>


        <article class="footer__links">

            <h4 class="footer__title">Support</h4>

            <ul>
                <li><a href="#">Help center</a></li>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Status</a></li>
            </ul>

        </article>

        
        <section class="footer__form">

            <h4 class="footer__title">Stay up to date</h4>

            <form action="#">
                <input type="email" name="email" placeholder="Your email address">
                <button aria-label="Submit">
                    <img src="img/send.svg" alt="Send">
                </button>
            </form>

        </section>

    </div>
</footer>