<header class="header">
    <div class="header__container">

        <div class="header__logo">
            <a href="#">
                <img src="img/logo.svg" alt="logo">
            </a>
        </div>
        
        <nav class="header__nav">
            <ul>
                <li><a href="#" class="header__nav-link_active">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Testimonial</a></li>
            </ul>
        </nav>
        
        <div class="header__auth">
            <a href="#" class="header__auth-btn">Login</a>
            <a href="#" class="header__auth-btn header__auth-btn_bg">Sign up</a>
        </div>

        <button class="header__burger">
            <span></span>
            <span></span>
            <span></span> 
        </button>

    </div>
</header>