<div class="img-quote m-tb-48 p-tb-32">
    <div class="img-quote__container container">

        <img class="img-quote__img" src="img/tesla.jpeg" alt="Tesla logo">

        <div class="img-quote__quote">

            <p class="img-quote__quote-text subtitle">Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim sapien, vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.</p>

            <p class="img-quote__quote-name h4 title"><span>Tim Smith</span></p>

            <p class="img-quote__quote-company subtitle">British Dragon Boat Racing Association</p>

        </div>

    </div>
</div>
