<section class="our-clients">
    <div class="container">

        <h2 class="our-clients__title title">Our Clients</h2>

        <p class="our-clients__subtitle subtitle">We have been working with some Fortune 500+ clients</p>

        <div class="our-clients__items">
            <img src="img/svgsprite/our-clients.svg#client-1" alt="client 1" class="our-clients__item">
            <img src="img/svgsprite/our-clients.svg#client-2" alt="client 2" class="our-clients__item">
            <img src="img/svgsprite/our-clients.svg#client-3" alt="client 3" class="our-clients__item">
            <img src="img/svgsprite/our-clients.svg#client-4" alt="client 4" class="our-clients__item">
            <img src="img/svgsprite/our-clients.svg#client-5" alt="client 5" class="our-clients__item">
            <img src="img/svgsprite/our-clients.svg#client-6" alt="client 6" class="our-clients__item">
        </div>

    </div>
</section>