<section class="suitable-for">
    <div class="container">
        
        <h2 class="suitable-for__title title">Manage your entire community in a single system</h2>
        
        <p class="suitable-for__subtitle subtitle">Who is Nextcent suitable for?</p>

        <div class="suitable-for__items">
            
            @@include('./_suitable-for__item.html', {
                "img": {
                    "src": "img/svgsprite/suitable-for.svg#icon-1",
                    "alt": "Icon 1",
                },
                "title": "Membership Organisations",
                "text": "Our membership management software provides full automation of membership renewals and payments",
            })

            @@include('./_suitable-for__item.html', {
                "img": {
                    "src": "img/svgsprite/suitable-for.svg#icon-2",
                    "alt": "Icon 2",
                },
                "title": "National Associations",
                "text": "Our membership management software provides full automation of membership renewals and payments",
            })

            @@include('./_suitable-for__item.html', {
                "img": {
                    "src": "img/svgsprite/suitable-for.svg#icon-3",
                    "alt": "Icon 3",
                },
                "title": "Clubs And Groups",
                "text": "Our membership management software provides full automation of membership renewals and payments",
            })

        </div>

    </div>
</section>