<section class="hero">
    <div class="hero__container container">
        
        <div class="hero__content">
            
            <h1 class="hero__title title">Lessons and insights <span>from 8 years</span></h1>
            
            <p class="hero__subtitle subtitle">Where to grow your business as a photographer: site or social media?</p>
            
            <a href="#" class="hero__btn btn">Register</a>
        
        </div>
        
        <div class="hero__image">
            <img src="img/hero.svg" alt="Hero image">
        </div>
    
    </div>
</section>